*.osm
*.pbf
!*.json
*.geojson
map.osm
map.csv
map2.csv
map_shortcuts.csv
map_vertices.csv
map_vertices2.csv
cmd/horizon/front_end/
.vs
.vs_code
cmd/horizon/map.osm
cmd/horizon/map.osm.pbf
cmd/horizon/map.csv
cmd/horizon/map_shortcuts.csv
cmd/horizon/map_vertices.csv
cmd/horizon/horizon
cmd/horizon/horizon.exe
cmd/horizon/*.zip
cmd/horizon/*.tar.gz
.swag-gen.sh
docs/*
rest/docs/docs.go
rest/docs/swagger.json
rest/docs/swagger.yaml
